main{
    margin: inherit;
    margin-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.116);
    border-radius: 0 0 20px 20px;
}

.userInputForm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 30px 0;
    gap: 12px;
    width: 100%;
}

.userInputForm > input{
    font-size: 1.1rem;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.301);
    flex-grow: 1;
    min-width: 100px;
    max-width: 400px;
    margin-left: 10px;
}

.userInputForm > button{
    font-size: 1.1rem;
    padding: 10px 35px;
    color: white;
    background-color: rgb(34, 33, 33);
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px rgba(5, 122, 218, 0.781);
    transition: box-shadow 0.3s ease;
    flex-grow: 1;
    min-width: 150px;
    max-width: 250px;
    margin-right: 10px;
}

.userInputForm > button:hover{
    background-color: rgba(34, 33, 33, 0.856);
}

.userInputForm > button:active{
    box-shadow: 1px 1px 1px rgba(5, 122, 218, 0.781);
}

.addData {
    margin-right: 2rem;
}


.addData > h1{
    align-self: center;
    margin-left: 20px;
}
.addData > ul{
    font-size: 1.2rem;
    align-self: center;
    margin-top: 10px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgba(0, 0, 0, 0.685);
    margin-bottom: 10px;
}

.addData > ul > li::marker{
    font-size: 1.5rem;
    color: rgb(71, 71, 71);
}

.description {
  margin: 30px 25px 0 25px;
  border: 1px solid rgba(0, 0, 0, 0.089);
  padding: 20px;
  border-radius: 5px;
  background-color: #fdfdfd;
  line-height: 25px;
  border-radius: 40px 0 40px 0;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.144);
}

.noteText {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.getRecipeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.192);
    padding: 2rem;
    margin: 1.5rem;
    border: none;
    border-radius: 10px;
    gap: 1.4rem;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.226);
}

.getRecipeContainer > div > h3{
    margin-bottom: 2rem;
}

/* .getRecipeContainer > button{
    padding: 0.9rem 2.5rem;
    border: none;
    border-radius: 0.7rem;
    background-color: rgb(48, 221, 48);
    color: white;
    font-weight: 600;
    box-shadow: 1px 1px 8px rgba(0, 140, 255, 0.295);
}

.getRecipeContainer > button:hover{
    background-color: rgb(98, 219, 98);
} */

.highlight {
  font-weight: bold;
  color: #d62828;          
  background-color: #ffe0e0; 
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 1.05em;
}

@media (max-width:850px){
    .userInputForm{
        flex-direction: column;
        margin: 40px 0 30px 0;
        gap: 20px;
    }
    .userInputForm > button{
        min-width: 220px;
    }

    .userInputForm > input{
        min-width: 310px;
    }
    .description {
        margin: 30px 15px -10px 15px;
        font-size: 0.9rem;
    }
    .addData > h1{
        font-size: 1.8rem;
        align-self: center;
        margin-left: 20px;
    }

    .getRecipeContainer{
        flex-direction: column;
    }
}



.recipeBtn{
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.recipeBtn::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #4ad138 0%, #40ff50 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.recipeBtn::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #00ff62 0%, #00de64 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.recipeBtn:hover::after {
  filter: blur(30px);
}

.recipeBtn:hover::before {
  transform: rotate(-180deg);
}

.recipeBtn:active::before {
  scale: 0.7;
}

