@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(244, 245, 247);
}

#root {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 4px;
  border-radius: 40px 40px 0 0;
  width: 50vw;
}

@media (max-width:1500px) {
  #root {
    width: 70vw;
  }
}

@media (max-width:800px) {
  #root {
    width: 100vw;
  }
}

@media (max-width:400px) {
  #root {
    width: 100vw;
  }
}
